* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: #08101e;
}

img {
  max-width: 100%;
}

.header {
  max-width: 1146px;
  min-height: 211px;
  background-color: #0a121f;
  padding-top: 4%;
  padding-bottom: 4%;
  margin-bottom: 14%;
  font-family: "Open Sans", sans-serif;
}

.margin, .footer_new_block, .flex_content_block {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
}

.menu_link {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  color: #FFFFFF;
  padding: 4% 2%;
  transition: all 1s;
}
.menu_link_bd {
  border: 3px solid rgb(211, 233, 19);
}
.menu_link_red {
  background-color: red;
}
.menu_link_purple {
  background-color: #a4307f;
}

.menu_link:hover {
  background-color: #3A68B8;
  border-radius: 10px;
  transform: translate(0px, 100%) scale(2);
}

.content {
  font-family: "Open Sans", sans-serif;
}

.title1 {
  font-style: normal;
  line-height: 160%;
  font-size: 110%;
  font-weight: 600;
  color: #3A68B8;
  text-transform: uppercase;
  margin-bottom: 2%;
}

.heading {
  font-style: normal;
  line-height: 130%;
  font-size: 350%;
  font-weight: 800;
  color: #FFFFFF;
  margin-bottom: 7%;
}

.text_content {
  font-style: normal;
  line-height: 160%;
  font-size: 115%;
  font-weight: 600;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 8%;
  width: 80%;
}

.flex_but {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.button_box {
  width: 100%;
}

.index_button {
  background: #3A68B8;
  border-radius: 5px;
  padding: 2% 4%;
  gap: 10px;
  background: #3A68B8;
  font-weight: 600;
  font-size: 130%;
  line-height: 27px;
  color: #FFFFFF;
  transition: all 1s;
}
.index_button_bd {
  border: 3px solid rgb(211, 233, 19);
}
.index_button_red {
  background-color: red;
}
.index_button_grun {
  background-color: #0cd226;
}

.index_button:hover {
  color: #3A68B8;
  background-color: #FFF;
  transform: translate(10px, 100px) rotate(360deg);
}

.content_right {
  width: 100%;
  margin-left: 11%;
}

.logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 20%;
}

.top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 20%;
}

.header_menu {
  display: flex;
  justify-content: center;
}

.flex_box1 {
  display: flex;
  justify-content: space-between;
}

.flex_box2 {
  display: flex;
  justify-content: space-between;
}

.content_left {
  width: 100%;
}

.content_right {
  width: 50%;
  margin-left: 10%;
}

video {
  height: 100%;
  width: 100%;
  padding-right: 3%;
}

.content_maxinfo {
  margin-top: 18%;
  margin-bottom: 25%;
  font-family: "Open Sans", sans-serif;
}

.left_content {
  width: 50%;
}

.content_text {
  font-style: normal;
  line-height: 160%;
  font-size: 110%;
  font-weight: 600;
  color: #FFFFFF;
  opacity: 0.7;
}

.right_content {
  padding: 2%;
  width: 50%;
}

.flex_content {
  display: flex;
  align-content: stretch;
  align-items: center;
  flex-wrap: wrap;
}

.botton_content_block {
  display: grid;
  grid-template-columns: 66% 33%;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 1%;
  margin-bottom: 20%;
  font-family: "Open Sans", sans-serif;
}

.left_content_new {
  grid-row: 1/3;
}

.new_new_block {
  font-family: "Open Sans", sans-serif;
}

.item {
  max-width: 362px;
  background: #132035;
  border-radius: 10px;
  text-align: center;
  padding-top: 2%;
}

.title2 {
  font-style: normal;
  line-height: 130%;
  font-size: 250%;
  font-weight: 700;
  color: #FFFFFF;
  -webkit-animation: myAnime 2s ease 0s infinite normal forwards;
          animation: myAnime 2s ease 0s infinite normal forwards;
}

.title3 {
  font-style: normal;
  line-height: 125%;
  font-size: 200%;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  opacity: 0.7;
  margin-top: 5%;
  -webkit-animation: myAnime 3s ease 0s infinite normal forwards;
          animation: myAnime 3s ease 0s infinite normal forwards;
}

.content_block {
  font-style: normal;
  line-height: 160%;
  font-size: 135%;
  font-weight: 600;
  color: #FFFFFF;
  opacity: 0.7;
  text-align: center;
  margin-top: 10%;
  padding-bottom: 5%;
}

.left_content_new {
  max-width: 754px;
  background: #132035;
  border-radius: 10px;
  padding: 2%;
  text-align: center;
}

.right_content_new {
  margin-top: 2%;
}

.flex_content_block {
  align-items: stretch;
}

.new_new_block {
  margin-top: 3%;
}

.content_block_new {
  font-style: normal;
  line-height: 160%;
  font-size: 100%;
  font-weight: 600;
  color: #FFFFFF;
  opacity: 0.7;
  margin-right: 20%;
  padding-bottom: 3%;
}

.flex_box3 {
  display: flex;
}

.footer_left {
  width: 20%;
  margin-right: 15%;
}

.footer_center {
  width: 23%;
  margin-right: 15%;
}

.footer_right {
  width: 20%;
}

.title21 {
  font-style: normal;
  line-height: 130%;
  font-size: 250%;
  font-weight: 700;
  color: #FFFFFF;
  padding-bottom: 6%;
}

.title_footer {
  font-style: normal;
  line-height: 19px;
  font-size: 100%;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 20%;
}

.title6 {
  font-style: normal;
  line-height: 16px;
  font-size: 85%;
  font-weight: 500;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 12%;
}

.footer_text {
  font-style: italic;
  line-height: 16px;
  font-size: 85%;
  font-weight: 100;
  color: #FFFFFF;
  opacity: 0.6;
  max-width: 261px;
}

.footer {
  margin-top: 19%;
  background-color: #0a121f;
  font-family: "Roboto", sans-serif;
}

.information {
  display: flex;
}

.icon_block {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer_new_block {
  flex-direction: column;
  max-height: 92px;
  margin-right: 5%;
}

.fa,
.fas {
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .header_menu {
    justify-content: center;
  }
  .flex_box1 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .content_left {
    margin-bottom: 10%;
  }
  .flex_box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    padding-left: 10%;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    margin-top: 20%;
  }
  .top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    justify-items: center;
    font-family: "Open Sans", sans-serif;
  }
  .botton_content_block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
    margin-top: 1%;
    font-family: "Open Sans", sans-serif;
  }
  .left_content_new1 {
    margin-left: 10%;
  }
  .flex_box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
  }
  .footer_left {
    width: 20%;
    padding-bottom: 5%;
    margin-right: 0%;
  }
  .footer_center {
    width: 23%;
    padding-bottom: 5%;
    margin-right: 0%;
  }
  .footer_right {
    width: 20%;
  }
}/*# sourceMappingURL=style.css.map */